/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";
@import "fonts/trebuchet.css";



body {
  margin: 0;
  padding: 0;
}

main {
  background-image: linear-gradient(to bottom, #f6f1b2, #4599b2);
  width: 800px;
  margin: 0 auto;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  height: 100%;
}


#ticket {
  top: 295px;
  position: fixed;
  margin-left: 50px;
  width: 89px;
  float: left;
  display: block;
  transition: left 100ms ease-out;
}

header {
  margin: 0 auto;
}


header h1{
  font-family: "Ravie";
  text-align: center;
  font-size: 36px;
  color: #e90c0c;
  float: right;
  margin: 30px 40px 5px 0px;
}

header h2{
  font-family: "Trebuchet MS";
  font-size: 24px;
  color: #333;
  font-weight: normal;
  float: right;
  margin: 10px 40px 10px 0px;

}

header span {
  color: #d027aa;
}

#lateral {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 154px;
}

#siri {
  top: 17px;
  left: -10px;
  position: absolute;
}

#bolhas {
  margin-left: 50px;
}

#peixe {
  margin-bottom: 0;
  margin-top: 14px;
  margin-left: -44px;
  
}

#lateral h2 {
  margin: 300px 0px 100px 0px;
  transform: rotate(-90deg) translatey(-40px);
  float: left;
  font-size: 48px;
  font-family: "Verdana", sans-serif;
  color: #333;
}

#cardapio {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #aac0ae;
  width: 646px;
  padding: 15px;
  box-sizing: border-box;
  float: right;
  display: inline-block;
  position: relative;
  line-height: 2em;
}

#cardapio h3 {
  font-family: "Verdana", sans-serif;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.item {
  width: 100%;
}
.preco {
  float: right;
}

#rodape {
  clear: right;
}

footer img {
  position: relative;
  left: 670px;
  padding: 46px 0px 25px 0px;
  
}

